
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Template/_Template.cshtml";
}

<!DOCTYPE html>
<html lang="en-us">

<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
  
</head>

<body>
    <!-- header -->
    <header>
        <div class="logo Index-clr ml-sm-4 ml-2 mt-3">
            <a href="Index.html"><span class="fas fa-hand-point-up"></span></a>
        </div>

    </header>
    <!-- //header -->
    <!-- gallery -->
    <div class="gallery he-codes">
        <!-- gallery content -->
        <div class="gallery-cont text-center pt-5">
            <h3 class="title text-center text-wh font-weight-bold">Our Room</h3>
            <div class="container pt-5">
                <div class="row news-grids text-center no-gutters">
                    <div class="col-md-4 gal-img">
                        <a href="#gal1"><img src="@Url.Content("~/Content/Template/")images/1.jpg" alt="Gallery Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-4 gal-img">
                        <a href="#gal2"><img src="@Url.Content("~/Content/Template/")images/1.1.jpg" alt="Gallery Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-4 gal-img">
                        <a href="#gal3"><img src="@Url.Content("~/Content/Template/")images/1.2.jpg" alt="Gallery Image" class="img-fluid"></a>
                        @*</div>
                        <div class="col-md-4 gal-img">
                            <a href="#gal4"><img src="images/g4.jpg" alt="Gallery Image" class="img-fluid"></a>
                        </div>
                        <div class="col-md-4 gal-img">
                            <a href="#gal5"><img src="images/g5.jpg" alt="Gallery Image" class="img-fluid"></a>
                        </div>
                        <div class="col-md-4 gal-img">
                            <a href="#gal6"><img src="images/g6.jpg" alt="Gallery Image" class="img-fluid"></a>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- gallery popups -->
        <!-- popup-->
        <div id="gal1" class="pop-overlay animate">
            <div class="popup">
                <img src="@Url.Content("~/Content/Template/")images/1.jpg" alt="Popup Image" class="img-fluid" />
                <h1 class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</h1>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="pop-overlay animate">
            <div class="popup">
                <img src="@Url.Content("~/Content/Template/")images/1.1.jpg" alt="Popup Image" class="img-fluid" />
                <h2 class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</h2>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="pop-overlay animate">
            <div class="popup">
                <img src="@Url.Content("~/Content/Template/")images/1.2.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        @*<!-- //popup3 -->
        <!-- popup-->
        <div id="gal4" class="pop-overlay animate">
            <div class="popup">
                <img src="images/g4.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal5" class="pop-overlay animate">
            <div class="popup">
                <img src="images/g5.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal6" class="pop-overlay animate">
            <div class="popup">
                <img src="images/g6.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>*@
        <!-- //popup -->
        <!-- //gallery popups -->
        <!-- //gallery -->
        <!-- //gallery content -->
        <!-- copyright -->
        <div class="wthree_copy_right text-right ml-auto mt-5 mr-sm-5 mr-4">
            <p class="text-bl">
                © 2019 Huy&Quan. All rights reserved
            </p>
        </div>
        <!-- //copyright -->
    </div>
    <!-- //gallery -->

</body>

</html>