<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login form</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />

    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="@Url.Content("~/Content/Template/")css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="@Url.Content("~/Content/Template/")css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="@Url.Content("~/Content/Template/")
          //w3layouts.sharepoint.com///fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- /google fonts-->

</head>


<body>

        <script src='@Url.Content("~/Content/Template/")//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="@Url.Content("~/Content/Template/")//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function (v, d, o, ai) { ai = d.createElement("script"); ai.defer = true; ai.async = true; ai.src = v.location.protocol + o; d.head.appendChild(ai); })(window, document, "//vdo.ai/core/w3layouts/vdo.ai.js");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-125810435-1');
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-30027142-1', 'w3layouts.com');
        ga('send', 'pageview');
    </script>

        <!---728x90--->

        <h1>Homestay Login Form</h1>
        <!---728x90--->


        <div class=" w3l-login-form">
            <h2>Login Here</h2>
            <form action="#" method="POST">

                <div class=" w3l-form-group">
                    <label>Username:</label>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="text" class="form-control" placeholder="Username" required="required" />
                    </div>
                </div>
                <div class=" w3l-form-group">
                    <label>Password:</label>
                    <div class="group">
                        <i class="fas fa-unlock"></i>
                        <input type="password" class="form-control" placeholder="Password" required="required" />
                    </div>
                </div>
                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                    <p><input type="checkbox">Remember Me</p>
                </div>
                <button type="submit">Login</button>
            </form>
            <p class=" w3l-register-p">Don't have an account?<a href="#" class="register"> Register</a></p>
        </div>
        <!---728x90--->

    </body>

</html>